<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> Patient List </title>
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.css') }}"> 

</head>
<body>

    <div>

            <h1> Patient Table with Bootstrap</h1>
        
            <table class="table table-dark table-striped">
                <tr>  
                    <th> MRN </th>
                    <th> First Name </th>
                    <th> Last Name </th>
                    <th> DOB </th>
                    <th> Gender </th>
                    <th> Zipcode </th>
                    <th> Unit </th>
                    <th> Doctor </th>
                </tr>
                {% for patient in listPatients %}
                    <tr>
                        <td> {{ patient.MRN }} </td>
                        <td> {{ patient.firstName }} </td>
                        <td> {{ patient.lastName }} </td>
                        <td> {{ patient.DOB }} </td>
                        <td> {{ patient.Gender }} </td>
                        <td> {{ patient.Zipcode }} </td>
                        <td> {{ patient.Unit }} </td>
                        <td> {{ patient.Doctor }} </td>
                    </tr>
                {% endfor %}
            </table>



    </div>


</body>
</html>