<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> Patient List </title>
</head>
<body>

    <div>

        <h1> Patient Table With No Bootstrap</h1>

            <table>
                <tr>  
                    
                    <th> Medical Record Number (MRN) </th>
                    <th> First Name (FN) </th>
                    <th> Last Name (LN) </th>
                    <th> Date of Birth (DOB) </th>
                    <th> Zipcode (ZIP)</th>
                    <th> Unit </th>
                    <th> Doctor</th>
                </tr>
                
                {% for i in listPatients %}
                    <tr>
                        <td> {{ i.mrn }} </td>
                        <td> {{ i.firstname }} </td>
                        <td> {{ i.lastName }} </td>
                        <td> {{ i.dob }} </td>
                        <td> {{ i.zipcode }} </td>
                        <td> {{ i.unit }} </td>
                        <td> {{ i.doctor }} </td>
                    </tr>
                {% endfor %}
            </table>


    </div>


</body>
</html>